In [ ]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
from lxml import html
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote

In [ ]:
url = 'http://apis.data.go.kr/B552474/JobBsnInfoService/getJobOperInsttList'
key = 'XmXenimRCP43/5wyQaiqZ0CVMO/4ulD6cUtD00z8cINrnHw7sNrEZU5okkUNM/xH9Tzx4fV21AQAIrh/Ycsotw=='

query = '?' + urlencode(
{
    quote_plus('serviceKey'):key,
    quote_plus('pageNo'):1,
    quote_plus('numOfRows'):300,
    quote_plus('projNo'):4800000000,
    quote_plus('projNo'):4817000000,
    quote_plus('projNo'):2022
})

response = requests.get(url+query).text.encode('utf-8')
xml = bs(response, 'lxml-xml')

rows = xml.findAll('item')
rows
print(len(rows))

255

In [ ]:
li = []

In [ ]:

url = 'http://apis.data.go.kr/B552474/JobBsnInfoService/getJobOperInsttList'
key = 'XmXenimRCP43/5wyQaiqZ0CVMO/4ulD6cUtD00z8cINrnHw7sNrEZU5okkUNM/xH9Tzx4fV21AQAIrh/Ycsotw=='

query = '?' + urlencode(
{
    quote_plus('serviceKey'):key,
    quote_plus('pageNo'):1,
    quote_plus('numOfRows'):1000,
    quote_plus('projNo'):4800000000,
    quote_plus('projNo'):4817000000,
    quote_plus('projNo'):2022
})

response = requests.get(url+query).text.encode('utf-8')
xml = bs(response, 'lxml-xml')

rows = xml.findAll('item')
for i in range(255):
  try:
    si = rows[i].find('zipAddr').get_text().split()[0]
  except:
    si = np.nan
  try:
    gun = rows[i].find('zipAddr').get_text().split()[1]
  except:
    gun = np.nan
  try:
    name = rows[i].find('orgName').get_text()
  except:
    name = np.nan
  try:

    adr = rows[i].find('zipAddr').get_text()
  except:
    adr = np.nan


  li.append([si,gun,name,adr])

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

df = pd.DataFrame(li, columns=['시/도','시/군/구','기관명','주소'])
df

       시/도     시/군/구                기관명                             주소
0    서울특별시       종로구           서울노인복지센터             서울특별시 종로구 경운동 90-3
1      경기도       가평군           경기 가평군지회           경기도 가평군 가평읍 대곡리 13-4
2       전북  익산시모현동2가         익산시노인종합복지관                    전북 익산시모현동2가
3       서울       강남구            강남시니어클럽                    서울 강남구 논현2동
4    대구광역시        중구          대구중구시니어클럽  대구광역시 중구 삼덕동2가  149-63 어르신도서관
..     ...       ...                ...                            ...
250    NaN       NaN         광양만권일자리사업단                            NaN
251    NaN       NaN           주식회사 인이어                            NaN
252    NaN       NaN          케이잡스 여수지사                            NaN
253    NaN       NaN  사회적협동조합 희망리본 강릉센터                            NaN
254  서울특별시       광진구      사단법인 서울광진의류협회           서울특별시 광진구 중곡동 244-10

[255 rows x 4 columns]